// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2964F8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #0E0000;
$dark-gray: #3E4042;
$medium-gray: #7a7f83;
$light-gray: #DDDDDD;
$super-light-gray: #F0F0F1;
