.share-link {
  width: 33%;
  margin-top: 25vh;
  position: fixed;
}

.half-right-background {
  background-color: $super-light-gray;
  position: absolute;
  height: auto;
  width: 47vw;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
