<ul class="row">
  <% @kits.each do |kit| %>
    <li class="col-md-3">
      <%= link_to kit_path(kit) do %>
        <div class="card">
          <%= image_tag 'https://images.unsplash.com/photo-1662184912775-4e5bf79e7112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60' %>
          <h3><%= kit.title %></h3>
          <p><%= kit.description %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
