.btn-primary, a.btn-primary {
  background-color: $blue;
  border: none;
  border-radius: 8px;
  color: white !important;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
}

.btn-secondary, a.btn-secondary {
  background-color: transparent;
  border: 1px solid $light-gray;
  border-radius: 8px;
  color: $dark-gray !important;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;

  &:hover {
    background-color: transparent;
  }
}

.btn.btn-link {
  padding: 0.375rem;
  color: $dark-gray;
  text-decoration: none;
}

.btn.btn-link:hover {
  background-color: lighten($color: $light-gray, $amount: 8);
  border-radius: 8px;
}
